<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4697c">  <td>19/02/11 14:27:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEmployeeGherkin.setup(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.TestEmployeeGherkin@49a71302]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1552076111</td>   <td></td> </tr>
<tr bgcolor="b4697c">  <td>19/02/11 14:29:32</td>   <td>134029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEmployeeGherkin.setup(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.TestEmployeeGherkin@49a71302]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1552076111</td>   <td></td> </tr>
<tr bgcolor="b4697c">  <td>19/02/11 14:29:44</td>   <td>145867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEmployeeGherkin.setup(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.TestEmployeeGherkin@49a71302]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1552076111</td>   <td></td> </tr>
<tr bgcolor="b4697c">  <td>19/02/11 14:29:32</td>   <td>134005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEmployeeGherkin.teardown(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.TestEmployeeGherkin@49a71302]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1552076111</td>   <td></td> </tr>
<tr bgcolor="b4697c">  <td>19/02/11 14:29:44</td>   <td>145843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEmployeeGherkin.teardown(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.TestEmployeeGherkin@49a71302]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1552076111</td>   <td></td> </tr>
<tr bgcolor="b4697c">  <td>19/02/11 14:29:55</td>   <td>156821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEmployeeGherkin.teardown(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.TestEmployeeGherkin@49a71302]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1552076111</td>   <td></td> </tr>
<tr bgcolor="b4697c">  <td>19/02/11 14:29:32</td>   <td>134035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestEmployeeGherkin.testAtualizacao()[pri:2, instance:org.br.curso.tests.TestEmployeeGherkin@49a71302]">testAtualizacao</td> 
  <td>main@1552076111</td>   <td></td> </tr>
<tr bgcolor="b4697c">  <td>19/02/11 14:29:44</td>   <td>145878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestEmployeeGherkin.testExclusao()[pri:3, instance:org.br.curso.tests.TestEmployeeGherkin@49a71302]">testExclusao</td> 
  <td>main@1552076111</td>   <td></td> </tr>
<tr bgcolor="b4697c">  <td>19/02/11 14:27:44</td>   <td>25939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestEmployeeGherkin.testInsercao()[pri:1, instance:org.br.curso.tests.TestEmployeeGherkin@49a71302]">testInsercao</td> 
  <td>main@1552076111</td>   <td></td> </tr>
</table>
