<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dafeed">  <td>18/12/14 16:43:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DBTests.setup(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.DBTests@52500920]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1168079523</td>   <td></td> </tr>
<tr bgcolor="dafeed">  <td>18/12/14 16:43:16</td>   <td>2867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DBTests.testInsercao()[pri:1, instance:org.br.curso.tests.DBTests@52500920]">testInsercao</td> 
  <td>main@1168079523</td>   <td></td> </tr>
<tr bgcolor="dafeed">  <td>18/12/14 16:43:17</td>   <td>3664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DBTests.teardown(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.DBTests@52500920]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1168079523</td>   <td></td> </tr>
<tr bgcolor="dafeed">  <td>18/12/14 16:43:17</td>   <td>3678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DBTests.setup(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.DBTests@52500920]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1168079523</td>   <td></td> </tr>
<tr bgcolor="dafeed">  <td>18/12/14 16:43:17</td>   <td>3685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DBTests.testAtualizacao()[pri:2, instance:org.br.curso.tests.DBTests@52500920]">testAtualizacao</td> 
  <td>main@1168079523</td>   <td></td> </tr>
<tr bgcolor="dafeed">  <td>18/12/14 16:43:17</td>   <td>3740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DBTests.teardown(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.DBTests@52500920]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1168079523</td>   <td></td> </tr>
<tr bgcolor="dafeed">  <td>18/12/14 16:43:17</td>   <td>3762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DBTests.setup(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.DBTests@52500920]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1168079523</td>   <td></td> </tr>
<tr bgcolor="dafeed">  <td>18/12/14 16:43:17</td>   <td>3766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DBTests.testExclusao()[pri:3, instance:org.br.curso.tests.DBTests@52500920]">testExclusao</td> 
  <td>main@1168079523</td>   <td></td> </tr>
<tr bgcolor="dafeed">  <td>18/12/14 16:43:17</td>   <td>3836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DBTests.teardown(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.DBTests@52500920]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1168079523</td>   <td></td> </tr>
</table>
